# IDE
**/.idea/
**/.vscode/

# SFDX
**/.sfdx/
**/.sf/
**/sfdx-config/
**/.forceignore
**/sfdx-project.json
.localdevserver/
IlluminatedCloud/
.illuminatedCloud/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/
out/
target/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# Prettier & ESLint
.husky/
**/.eslintignore
**/.eslintrc.json
**/.prettierignore
**/.prettierrc.json

# Git
**/.git/
**/.github/
**/.gitignore

# Configs
config/

# Other
scripts/
ssl/
**/Procfile
**/LICENSE
**/README.md
