# Network
ROUTER_IP=192.168.0.1
LAN_SUBNET=192.168.0.0/24

# Domain
DOMAIN=mydomain.duckdns.org
DUCKDNS_TOKEN=my-token

# Auth
FORWARD_AUTH_PORT=9900

# Pihole
PIHOLE_PORT_DNS=53
PIHOLE_PORT_HTTP=8080
PIHOLE_PORT_HTTPS=8443
