# IDE
**/.idea/

# SFDX
.sfdx/
.sf/
.localdevserver/
IlluminatedCloud/
.illuminatedCloud/

# Dependencies
**/node_modules/

# Build
**/build/
**/dist/
out/
target/

# System Files
.DS_Store
*.db
*.ini

# Logs
traefik/logs/
*.log

# Routes
traefik/config/routes.yaml

# SSL
traefik/acme/**
!traefik/acme/README.md

# Secrets
.env

# Pihole
pihole/data/*
pihole/dnsmasq.d/*

# Others
tmp/
**/tsconfig*.json
**/*.tsbuildinfo
**/graphql.config.yml
