# IDE
**/.idea/

# SFDX
.sfdx/
.sf/
.localdevserver/
IlluminatedCloud/
.illuminatedCloud/

# Dependencies
**/node_modules/

# Build
**/build/
**/dist/
out/
target/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# SSL
ssl/**
!ssl/README.md

# Others
**/tsconfig*.json
**/*.tsbuildinfo
**/*.prod.json
