# IDE
**/.idea/

# SFDX
.sfdx/
.sf/
.localdevserver
**/staticresources/
IlluminatedCloud/
.illuminatedCloud/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/
out/
target/

# SSL
traefik/acme/

# Pihole
pihole/data/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# Other
tmp/
