PIHOLE_INTERFACE=wlan0
FTLCONF_webserver_api_password=password
FTLCONF_dns_upstreams=8.8.8.8;8.8.4.4
# Resolves the domain and all its subdomains to the server's local IP
# Update "mydomain" (with your actual domain) and ip address with your actual local server address
FTLCONF_misc_dnsmasq_lines=address=/mydomain.duckdns.org/192.168.0.10
